{{>dashboardHeading}}
    <div id="tab-container" class="tab-container tabs-large tabs-classic tabs-fill tabs-center">
        <ul>{{#unvalue user.role equals="Controller"}}
            <li><a href="/{{user.companyId.url}}/profile/approved">Approved</a> </li>
            {{/unvalue}}
            {{#unvalue user.role equals="Payer"}}
            <li><a href="/{{user.companyId.url}}/profile/unapproved">Unapproved</a></li>
            <li><a href="/{{user.companyId.url}}/profile/rejected">Rejected</a></li>
            {{/unvalue}}
            {{#unvalue user.role equals="Controller"}}
            <li class="selected"><a href="/{{user.companyId.url}}/profile/paid">Paid</a></li>
            {{/unvalue}}
        </ul>
    </div>

<table class="users table">
  <thead>
    <tr>
      <th class="row-1">Name</th>
      <th class="row-2">Date</th>
      <th class="row-3">Work done</th>
      <th class="row-4">Amount</th>
      <th class="row-5">Amount Transfered</th>
      <th class="row-6"></th>
      
    </tr>
  </thead>
  <tbody>
     {{#each invoices}}
  <tr>
    
    <td class="main-head">{{contractorName}}</td>
    <td class="main-head">{{date dateOfCompletion}}</td>
    <td class="main-head">{{jobDescription}}</td>
    <td class="main-head">{{currency amountDue}}</td>
    <td class="main-head">{{currency amountToTransfer}}</td>
    <td class="main-head"><a href="/invoices/{{this._id}}/"><button class="btn-small">View</button></a></td>
   
  </tr>
  {{/each}}
  </tbody>
</table>