<div class="settings-header">
    <div>
        <h2>Settings</h2>
    </div>
    <div>
        <figure class="avatar avatar--large">
            <a href="/{{company.url}}/profile/approved"><img src="{{company.logoUrl}}" alt=""></a>
        </figure>
    </div>
</div>

<div class ="settings-body">
    <div class="settings-half">
        <div class="card">
            <div class="card-head">
                <p class="card-head-title">Company Details</p>
            </div>
            <div class="content">
                <form action="/{{company.url}}/settings/edit" method="POST">
                    <label for="companyName">Company Name:</label>
                    <input type="text" name="companyName" id="companyName" value="{{company.companyName}}"/>
                    <br>
                    <label for="adminEmail">Administrator Email:</label>
                    <input type="email" name="adminEmail" id="adminEmail" value="{{company.adminEmail}}" />
                    <br>
                    <label for="url">forte.com/</label>
                    <input type="text" disabled name="url" id="url" value="{{company.url}}"/>
                    <br>
                    <h6>Address</h6>
                    <label for="street">Street Name:</label>
                    <input type="text" name="street" id="street" value="{{company.address.street}}">
                    <br>
                    <label for="number">Door Number:</label>
                    <input type="text" name="number" id="number" value="{{company.address.number}}"/>
                    <br>
                    <label for="city">City:</label>
                    <input type="text" name="city" id="city" value="{{company.address.city}}"/>
                    <br>
                    <h6>Fiscal Details</h6>
                    <label for="NIPC">NIPC</label>
                    <input type="number" name="NIPC" id="nipc" value="{{company.NIPC}}"/>
                    <br>
                    <button class="btn-light">Submit Changes</button>
                </form>
            </div>
        </div>
    </div>
    <div class="settings-half">
        <div class="card">
            <div class="card-head">
                <p class="card-head-title">Company Details</p>
            </div>
            <div class="content">
                {{#each usersInCompany}}
                    <div class="tile">
                        <div class="tile__icon">
                            <figure class="avatar">
                                <img src="{{this.profilePicUrl}}">
                            </figure>
                        </div>
                        <div class="tile__container">
                            <p class="tile__subtitle u-no-margin">Name: {{this.name}}</p>
                            <p class="tile__subtitle u-no-margin">Role: {{this.role}}</p>
                            {{!-- REMOVING THIS BUTTONS FOR ADMINS --}}
                            {{#unvalue this.role equals="Administrator"}}
                            <p class="tile__buttons u-no-margin">
                                <a href="#edit-user-{{this._id}}"><button class="btn-light btn-tiny uppercase">Change Role</button></a>
                                <a href="#delete-user-{{this._id}}"><button class="btn-primary btn-tiny uppercase">Remove User</button></a>
                            </p>
                            {{/unvalue}}
                        </div>
                    </div>
                {{/each}}
                <a href="#create-user"><button class="btn-success btn-small">Add new User</button></a>            
            </div>
        </div>
    </div>
</div>


{{!-- Modal to create new User --}}
<div class="modal modal-animated--zoom-in" id="create-user">
    <a href="#target" class="modal-overlay close-btn" aria-label="Close"></a>
    <div class="modal-content" role="document">
        <div class="modal-header">
            <a href="#components" class="pull-right" aria-label="Close"><span class="icon"><i class="fa fa-wrapper fa-times"></i></span></a>
            <div class="modal-title">Create new User</div>
        </div>
        <div class="modal-body">
            <form action="/{{company.url}}/settings/new-user" method="POST">
                <label for="name">Name</label>
                <input type="text" id="name" placeholder="Name" name="name">
                <label for="email">Email</label>
                <input type="text" id="email" placeholder="Email" name="email">
                <label for="role">Role</label>
                <select name="role" id="role" style="margin-bottom: 1em;">
                    <option value="Payer">Payer</option>
                    <option value="Controller">Controller</option>
                </select>
                <button>Submit</button>
            </form>
            
        </div>
    </div>
</div>

{{!-- Modal to delete User --}}
{{#each usersInCompany}}

<div class="modal modal-animated--zoom-in" id="delete-user-{{this._id}}">
    <a href="#target" class="modal-overlay close-btn" aria-label="Close"></a>
    <div class="modal-content" role="document">
        <div class="modal-header">
            <a href="#components" class="pull-right" aria-label="Close"><span class="icon"><i class="fa fa-wrapper fa-times"></i></span></a>
        </div>
        <div class="modal-body">
            <h4>You are about to delete {{this.name}}</h4>
            <p>Email: {{this.email}}</p>
            <p>Role: {{this.role}}</p>
            <form action="/users/delete/{{this._id}}" method="POST">
                <button class="btn-danger">Delete User</button>
            </form>
        </div>
    </div>
</div>

{{/each}}

{{!-- Modal to Edit User --}}
{{#each usersInCompany}}

<div class="modal modal-animated--zoom-in" id="edit-user-{{this._id}}">
    <a href="#target" class="modal-overlay close-btn" aria-label="Close"></a>
    <div class="modal-content" role="document">
        <div class="modal-header">
            <a href="#components" class="pull-right" aria-label="Close"><span class="icon"><i class="fa fa-wrapper fa-times"></i></span></a>
        </div>
        <div class="modal-body">
            <h4>Change the role for {{this.name}}</h4>
            <p>Email: {{this.email}}</p>
            <p>Role: {{this.role}}</p>
            <h6>New Role:</h6>
            <form action="/users/edit/{{this._id}}" method="POST">
                <select name="role" id="role" style="margin-bottom: 1em;">
                        <option value="Payer">Payer</option>
                        <option value="Controller">Controller</option>
                </select>
                <button class="btn-light">Change Role</button>
            </form>
        </div>
    </div>
</div>

{{/each}}