<h1>Payment request created!</h1>
<h3>Please review the information below befor submiting.</h3>

<div class="card">
    <div class="card-head">
        <p class="card-head-title">Payment due to company {{companyData.companyName}}</p>
    </div>
    <div class="content">
        <p>Name: {{invoice.contractorName}}</p>
        <p>Email: {{invoice.email}}</p>
        <p>Cellphone: {{invoice.cellphone}}</p>
        <p>IBAN: {{invoice.iban}}</p>
        <hr>
        <p>Job Done: {{invoice.jobDescription}}</p>
        <p>Hired By: {{invoice.hiredByPerson}}</p>
        <p>Date of Completion: {{date invoice.dateOfCompletion}}</p>
        <hr>
        <p>Amount Due: {{invoice.amountDue}}</p>
        <p>VAT: {{invoice.vat}}</p>
        
     
        <p>IRS: {{invoice.irs}}</p>
        
        <p>Extra Comments: {{invoice.comment}}</p>
    </div>
    {{!-- <div class="card-footer level content">
        6:32 PM - 3 Jul 18
    </div> --}}
    <div class="action-bar u-center">
        <a href="/{{companyData.url}}/submission/{{invoice._id}}/thanks"><button class="btn-success">Submit</button></a>
        <a href="/{{companyData.url}}/submission/{{invoice._id}}/edit"><button class="btn">Edit</button></a>
        <form action="/{{companyData.url}}/submission/{{invoice._id}}/delete" method="POST">
            <button class="btn-danger">Delete</button>
        </form>
    </div>
</div>