<div class="dashboard-header">
    <h1>{{company.companyName}}</h1>
    <div class="buttons-dashboard-header">
        <button>Settings</button>
        <form action="/{{company.url}}/sign-out" method="POST">
            <button>Logout</button>
        </form>    
    </div>
</div>
        <h5>Admin Dashboard</h5>

        <div id="tab-container" class="tab-container tabs-large tabs-classic tabs-fill tabs-center">
            <ul>
            <li class="selected"><a href="/{{company.url}}/profile/approved">Approved</a> </li>
            <li><a href="/{{company.url}}/profile/unapproved">Unapproved</a></li>
            <li><a href="/{{company.url}}/profile/rejected">Rejected</a></li>
            <li><a href="/{{company.url}}/profile/paid"> Paid</a></li>
            </ul>

        </div>

      

       {{>paymentPartial}}