<h1>Single Payment</h1>
<div class="card">
    <div class="card-head">
        <p class="card-head-title">Payment due to contractor {{invoice.contractorName}}</p>
    </div>
    <div class="content">
        <p>Name: {{invoice.contractorName}}</p>
        <p>Email: {{invoice.email}}</p>
        <p>Cellphone: {{invoice.cellphone}}</p>
        <p>IBAN: {{invoice.iban}}</p>
        <hr>
        <p>Job Done: {{invoice.jobDescription}}</p>
        <p>Hired By: {{invoice.hiredByPerson}}</p>
        <p>Date of Completion: {{invoice.dateOfCompletion}}</p>
        <hr>
        <p>Amount Due: {{invoice.amountDue}}</p>
        <p>Do you Charge VAT: {{invoice.vat.chargeVat}}</p>
        {{#if invoice.vat.chargeVat}}
        <p>Vat amount: {{invoice.vat.rate}}</p>
        {{/if}}
        <p>Do you Retain IRS: {{invoice.irs.retention}}</p>
        {{#if invoice.irs.retention}}
        <p>IRS Amount: {{invoice.irs.rate}}</p>
        {{/if}}
        <p>Extra Comments: {{invoice.comment}}</p>
    </div>
    {{!-- <div class="card-footer level content">
        6:32 PM - 3 Jul 18
    </div> --}}
    <div class="action-bar u-center">
        <form action="/{{invoice._id}}/approved" method="POST">
            <button class="btn-success">Approve</button></a>
        </form>
        <form action="/{{invoice._id}}/unapproved" method="POST">
            <button class="btn">Unnaprove</button></a>
        </form>
        <form action="/{{invoice._id}}/rejected" method="POST">
            <button class="btn-danger">Reject</button></a>
        </form>
        <a href=""><button class="btn">Pay</button></a>
    </div>
</div>